@model DevIO.App.ViewModels.SupplierViewModel

<div>
    <div>
        <hr />
        <h4>Endereço</h4>
    </div>

    @if (Model != null)
    {

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.StreetAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.AddressAddOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.Neighborhood)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.ZipCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.State)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Address.StreetAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Address.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Address.AddressAddOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Address.Neighborhood)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Address.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Address.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Address.State)
                    </td>
                    <td>
                        <a supress-by-action="Edit,GetAddress" asp-action="UpdateAddress" asp-route-id="@Model.Id" class="btn btn-info" data-modal="">
                            <span title="Editar" class="fa fa-pencil-alt"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>