@model DevIO.App.ViewModels.SupplierViewModel
@using DevIO.App.Extensions

@{
    ViewData["Title"] = "Excluir Fornecedor";
}

<h1>@ViewData["Title"]</h1>

<h3>Tem certeza que deseja excluir o fornecedor?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>
        <dd class = "col-sm-10">
            @this.FormatDocument((int)Model.SupplierType, Model.IdentificationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>

<partial name="_DetailsAddress" />
