@model DevIO.App.ViewModels.SupplierViewModel

@{
    ViewData["Title"] = "Editar Fornecedor";
}

<h1>@ViewData["Title"]</h1>

<hr />
<form asp-action="Edit">

    <vc:summary></vc:summary>

    <input type="hidden" asp-for="Id" />

    <div class="form-row">
        <div class="form-group col-md-6">

            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <label asp-for="IdentificationNumber"></label>
            <input asp-for="IdentificationNumber" class="form-control" />
            <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">

            <label asp-for="SupplierType"></label>

            <div>
                <input type="radio" value="1" asp-for="SupplierType" checked="@((int)Model.SupplierType == 1)" /> Pessoa Física
                <input type="radio" value="2" asp-for="SupplierType" checked="@((int)Model.SupplierType == 2)" /> Pessoa Jurídica
            </div>
            <div></div>

            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
        </div>

    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<div id="AddressTarget">
    <partial name="_DetailsAddress" />
</div>
<div>
    <partial name="../Products/_ProductsList" model="@Model.Products" />
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            AjaxModal();
        });

    </script>
}
